{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="bgimg-5" id="#">
    <div class="caption align-middle">
    <div class="row">
        <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"BIENVENUE SUR LA PAGE DE CONNEXION".</p>
    </div>
    </div>
</div>
<div class="pres">
    <div class="container c">
        <form method="post" class="text-center border border-light p-5 mt-4">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
            <label for="inputMail">Mail</label>
            <input type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="d-flex justify-content-around">
                <div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"  id="defaultLoginFormRemember">
                        <label class="custom-control-label"  for="defaultLoginFormRemember">Se souvenir de moi</label>
                    </div>
                </div>
                <div>
                    <a href="">Mot de passe oublié?</a>
                </div>
            </div>
            <div class="form-row">
                            <div class="form-group col-md-6">
                                <button class="btn btn1 btn-secondary btn-block my-4" type="submit">Se connecter</button>
                            </div>
                            <div class="form-group col-md-6 ">
                                <a class="btn btn2 btn-primary btn-block my-4" href="{{ path('home') }}"  type="submit">Annuler</a>
                            </div>
                        </div>
                        <div>Pas de compte ?<a href="{{ path('user_new') }}">Créer un compte</a></div>
        </form>
    </div>
</div>
        
{% endblock %}
