<form method="post" action="{{ path('domaines_delete', {'id': domaine.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ domaine.id) }}">
    <button class="btn btn3 btn-warning btn-block my-4">Supprimer</button>
</form>
