{% block body %}

	<div class="bgimg-5" id="#">
		<div class="caption align-middle">
		 	<div class="row">
				<p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
            </div>
        </div>
	</div>
	<div class="pres">
		<div class="container c">
			<h1 class="text-center compte">Domaine</h1>

                {{ form_start(form) }}
                    
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{form_widget(form.LibDomaine)}}
                            </div>
                            <div class="form-group col-md-6 ">
                                {{ form_widget(form.imageFile)}}
                            </div>
                        </div>
                        {# <div class="form-row">
                            <div class="form-group col-md-6">
                                {{form_widget(form.image)}}
                            </div>
                        </div> #}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <button class="btn btn1 btn-secondary btn-block my-4" type="submit">Confirmer</button>
                            </div>
                            <div class="form-group col-md-6">
                                <a class="btn btn2 btn-primary btn-block my-4" type="submit" href="{{ path('domaines_index')}}">Annuler</a>
                            </div>
                        </div>  
                {{ form_end(form) }}
            </div>
		</div>

	{% endblock body %}

