{% extends 'base.html.twig' %}

{% block title %}Domaines index{% endblock %}

{% block body %}
<div class="bgimg-5" id="#">
    <div class="caption align-middle">
    <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
    </div>
</div>
<div class="pres row">
    <div class="col-md-7 colonne-centree">
        <h2 class="text-center c stitle">Liste des Domaines</h2>
    
                <table class="table gtitle table-condensed">
                    <thead>
                        <tr class="tr">
                            <th>Nom de Domaine</th>
                            <th>Image</th>
                            <th>UpdatedAt</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for domaine in domaines %}
                        <tr>
                            <td data-label="{{ domaine.LibDomaine }}" class="left">{{ domaine.LibDomaine }}</td>
                            <td  data-label="{{ domaine.image }}" class="d-none d-md-block left"><img class="img-thumbnail" src="{{ asset(vich_uploader_asset(domaine, 'imageFile')) }}" alt="{{ domaine.image }}"></td>
                            <td data-label="{{ domaine.updatedAt ? domaine.updatedAt|date('Y-m-d') : '' }}" class="left">{{ domaine.updatedAt ? domaine.updatedAt|date('Y-m-d') : '' }}</td>
                            <td data-label="Action" class="left">
                                <a class="btn btn1 btn-secondary" href="{{ path('domaines_show', {'id': domaine.id}) }}">Afficher</a>
                                <a class="btn btn2 btn-primary" href="{{ path('domaines_edit', {'id': domaine.id}) }}">Modifier</a>

                            </td>      
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-7 colonne-centree">
            <a class="btn btn1  btn-block my-4" href="{{ path('domaines_new') }}">Créer un Domaine</a>
        </div>
    </div>
    
</div>

{% endblock %}
