{% extends 'base.html.twig' %}

{% block title %}Domaines{% endblock %}

{% block body %}
    <div class="bgimg-5" id="#">
    <div class="caption align-middle">
        <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
    </div>
    </div>
        <div class="pres row">
            <div class="col-md-10 colonne-centree">
                <h1 class="text-center compte">Domaine</h1>
                <table class="table">
                <thead>
                    <tr class="tr">
                        <th>Nom de Domaine</th>
                        <th>Image</th>
                        <th>UpdatedAt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="{{ domaine.LibDomaine }}" class="left">{{ domaine.LibDomaine }}</td>
                        <td data-label="{{ domaine.image }}" class="left d-none d-md-block"><img class="img-thumbnail" src="{{ asset(vich_uploader_asset(domaine, 'imageFile')) }}" alt="{{ domaine.image }}"></td>
                        <td data-label="{{ domaine.updatedAt|date }}" class="left">{{ domaine.updatedAt|date }}</td>
                    </tr>
                </tbody>
                </table>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <a class="btn btn1 btn-secondary btn-block my-4" href="{{ path('domaines_edit', {'id': domaine.id}) }}">Modifier</a>
                    </div>
                    <div class="form-group col-md-3">
                        <a class="btn btn2 btn-primary btn-block my-4" href="{{ path('domaines_index', {'id': domaine.id}) }}">Annuler</a>
                    </div>
                    <div class="form-group col-md-3">
                        <a class="btn btn4 btn-warning btn-block my-4" href="#">Désactiver</a>
                    </div>
                    <div class="form-group col-md-3">
                        {{ include('domaines/_delete_form.html.twig') }}
                        
                </div>
            </div>  
        </div>
    </div>

{% endblock %}
