body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 Lato, sans-serif
}

body {
    overflow-x: hidden
}



i.facebookNav {
    color: #4267b2;
}

i.facebookNav:hover {
    color: #f7941e;
}

/*navbar*/
.navbar-brand img {
    width: 7em;
    margin-left: 1.4em;


}

.navbar {
    background-color: #fff;
    margin: 0;
    border-bottom:0.2em solid #f7941e;
}

.navbar-brand {
    padding-right: 1em
}

.navbar-light .navbar-nav .nav-link {
    color: #1f2c3d;
    padding-top: 10px;
    font-size: 1.5em
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: #e3ac1b
}


nav .navbar-nav li > a {
    text-transform: capitalize;
    color: #333;
    transition: background-color .2s, color .2s;
}

.navbarborder{
    border:2px solid #e3ac1b;
}
.navbar-light .navbar-nav .nav-link {
    color: #1f2c3d;
    padding-top: 10px;
    font-size: 1em;
}
/*
nav a:hover,
nav a:focus {
        background-color: #333;
        color: #fff;
    }
*/

nav .navbar-nav li.nav-item > a {

    color: #fff;
}


div.menu {
    width: 100%;
    display: block;
    margin: 0 auto
}

ul {
    width: 100%;
    display: block;
    margin: 0 auto
}

ul li {
    display: block;
    margin: 0 auto
}



/*paralaxe*/
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-Module,
.bgimg-5
 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bgimg-1 {
    background-image: url(/images/greta1.jpeg);
    min-height: 50%;
    margin-top: 5rem;
   
}

.bgimg-2 {
    background-image: url(/images/greta2.jpg);
    min-height: 60%
}

.bgimg-3 {
    background-image: url(/images/greta3.jpg);
    min-height: 60%
}

.bgimg-4 {
    background-image: url(/images/greta.jpeg);
    min-height: 100%
}

.bgimg-5 {
    background-image: url(/images/greta1.jpeg);
    min-height: 30%
}


.row {
    margin: 0
}

.wrapper {
    padding-top: 3em
}

.session1{
    background-color: #1f2c3d;
   
}
.sess1{
    color: #f7941e;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}


.sess2{
    color: white;
    padding-left: 1em;
    padding-right: 1em;
}
.sess3{
    color: #f7941e;
    text-transform: uppercase;
}
.sess4{
    font-weight: bold;
    padding-top: 1em;
    
}


hr {

    border: 0;
    border-top: 1px solid #f7941e;
}

.centres {
    font-size: 1.9em;
    color: #f7941e;
    padding-top: 2em;
    text-decoration: #f7941e underline;

}

.form-row{
    margin-bottom: 0.8em;
}


.greta{
    font-size: 2em;
    font-weight: bold;
    background-color: rgba(5, 5, 5, .6); 
    color: #f7941e;
}
.admin {
    font-size: 1.3em;
    color: #f7941e;
    margin-top: 5em;
    text-align: center;
}

.compte{
    margin-top:1.5em;
    margin-bottom:1.5em;
}

.recontrer {
    margin-top: 1em;
    color: #f7941e;
}

.programme {
    /*font-size: 1.6em;*/
    font-size: 1.6rem;
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    background-color: rgba(5, 5, 5, .6)
}

.c {
    color: #1f2c3d
}

.caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #000
}

.colonne-centree {
    float: none;
    margin: 0 auto
}

.press {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    text-align: justify
}

.row {
    margin: 0
}

.stitle {
   margin-top: 2em;
}

.gtitle {
    margin-top: 4em;
}
.h6{
    color: black;
    padding-top: 1em;
}

/*footer*/
.footerT,
.agence {
    color: #fff;
    margin: 0;
     
}
.agence {
    font-size: 1.4rem;
    padding-bottom: 40px;
}

footer {
    background-color: #1f2c3d;
    text-align: center;
}

.foot {
    padding-top: 3em;
    padding-bottom: 3em
}

ol {
    list-style-type: none;
    padding-top: 10px;
    color: #fff
}

li {
    padding-top: 5px;
    font-size: 1em;
}

a.icones {

    float: left;
}



@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(227, 172, 27, .2)
    }
    100% {
        box-shadow: 0 0 0 35px rgba(227, 172, 27, 0)
    }
}

@keyframes shadow-pulse-big {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, .1)
    }
    100% {
        box-shadow: 0 0 0 70px transparent
    }
}

.hautPage {
    text-align: right;
    padding-right: 60px;
    padding-bottom: 30px;
    color: #1f2c3d
}

.container {
	width: 1024px;
	padding: 2em;
}


.example-1 {
    width: 3em;
   padding: 5px;
    height: 3em;
    border: none;
  
    color: #fff;
    text-align: center;
    background: rgba(227, 172, 27, .6);
    border-radius: 50%;
    animation: shadow-pulse 1s infinite
}

.btn1, .btn2 {
    border: 1px solid #f7941e;
    color: #f7941e;
}
.btn1{
    background-color: #1f2c3d;
}
.btn2 {
    background-color: #12488f;
}

.btn3 {
    background-color: #f7941e;
    color: #971920;
    
}

.btn4 {
    background-color: #f7941e;
    color: #1f2c3d;;
}
a.btn1:hover, a.btn2:hover, a.btn3:hover {
    color: white;
}

input {
    border: 1px solid #f7941e;
    background-color: #1f2c3d;
    color: #f7941e;
}
             


.tr{
    border: 2px solid #f7941e;
    background-color: #1f2c3d;
    color: #f7941e;
    
}
input::placeholder {
    color: #f7941e;
}

.sorting {
    color: #f7941e;
}
.fas {
    padding-right: 5px
}a.facebookII:hover {
    color: #e3ac1b!important
}
i {
    padding-bottom: 10px;
    padding-left: 3px
}


/*overlay*/
.overlay-image {
    position: relative;
    width: 100%;
    height: 100%
}

.overlay-image .image {
    width: 100%;
    height: 100%
}

.overlay-image:hover .hover {
    opacity: 1;
    width: 100%;
    height: 100%
}

.overlay-image .text {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: .5s ease;
}

.overlay-image .hover {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: .5s ease
}

.overlay-image .normal {
    transition: .5s ease
}

.overlay-image:hover .normal {
    opacity: 0;
}

.overlay-image .hover {
    background-color: rgba(0, 0, 0, .5);
}


div.hover {
    height: 50%;
    width: 50%;
}


a:hover {
    color: #e3ac1b
}

a.textHover {
    color: #fff;
}


.text-primary a,
.text-primary p {
    color: #f7941e!important
}

.text-primary.fas {
    color: #000!important
}

a.text-footer {
    color:  #f7941e!important
}

a.text-footer:hover {
    color:  #4267b2!important
}

a.facebook, a.user {
    color: #4267b2!important
}

a.facebook:hover {
    color: #f7941e!important
}
img {
    height: 3em;
    width: 3em;
}

.erreur404 {
    background-image: url(../img/404.jpeg);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20rem;
    margin-bottom: 20rem;
    color: #e3ac1b;
    text-align: center
}

.erreur404 h1,
.erreur404 h2 {
    color: #e3ac1b;
    font-size: 5rem
}

#calendrier{
    margin:Auto;
    width:80%;
}


td{
    white-space: nowrap;
}

.img-thumbnail{
    max-width: 3rem;
    
}


.bgdropdown{
    background-color: #e3ac1b;
}
table {
    border-collapse: collapse;
    width: 100%
}

.en_tete {
    font-size: .8em;
    color: #e3ac1b
}

td,
th {
    border: 1px solid #fff;
    padding: 10px 15px
}


.left {
    color: rgb(15, 14, 14);
   
    font-size: 1em
}

.tarif {
    background-color: #1f2c3d
}
@media only screen and (max-device-width:1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3,
    .bgimg-4,
    .bgimg-Module,
    .bgimg-5
     {
        background-attachment: scroll
    }

    .programme {
        /*font-size: 1.6em;*/
        font-size: 1rem;
    }
    table,
    tbody,
    td,
    th,
    thead,
    tr {
        display: block
    }
    thead {
        display: none
    }
    td {
        padding-left: 250px;
        position: relative;
        margin-top: -1px
    }
    td::before {
        content: attr(data-label);
        display: flex;
        position: absolute;
        align-items: center;
        width: 100%;
        padding: 10px;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #1f2c3d
    }
    .left {
        color: #e3ac1b;
    }
    tr {
        margin-bottom: 1rem
    }
    .tr {
        font-size:0.5em ;
    }
}
    