<form method="post" action="{{ path('sessions_delete', {'id': session.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ session.id) }}">
     <a class="btn btn3 btn-warning btn-block my-4">Supprimer</a>
</form>
