{% extends 'base.html.twig' %}

{% block title %}Edit Sessions{% endblock %}

{% block body %}
    <h1>Edit Sessions</h1>

    {{ include('sessions/_form.html.twig', {'button_label': 'Update'}) }}

    
{% endblock %}
