{% extends 'base.html.twig' %}

{% block title %}Sessions index{% endblock %}

{% block body %}
    <div class="bgimg-5" id="#">
    <div class="caption align-middle">
    <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
    </div>
</div>
<div class="pres row">
    <div class="col-md-10 colonne-centree">
        <h2 class="text-center c stitle">Liste des Sessions</h2>
    
                <table class="table gtitle">
                    <thead>
                        <tr class="tr">
                            
                            <th>Titre</th>
                            <th>Session</th>
                            <th>Debut</th>
                            <th>Fin</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for session in sessions %}
                        <tr>
                            <td data-label="{{ session.titre }}" class="left">{{ session.titre }}</td>
                            <td data-label="{{ session.formation }}" class="left">{{ session.formation }}</td>
                            <td data-label="{{ session.dateDeb ? session.dateDeb|date('Y-m-d') : '' }}" class="left">{{ session.dateDeb ? session.dateDeb|date('Y-m-d') : '' }}</td>
                            <td data-label="{{ session.dateFin ? session.dateFin|date('Y-m-d') : '' }}" class="left">{{ session.dateFin ? session.dateFin|date('Y-m-d') : '' }}</td>
                            
                            <td data-label="Action" class="left">
                                <a class="btn btn1 btn-secondary" href="{{ path('sessions_show', {'id': session.id}) }}">Afficher</a>
                                <a class="btn btn2 btn-primary" href="{{ path('sessions_edit', {'id': session.id}) }}">Mofifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                 </div>
        </div>
        <div class="col-md-10 colonne-centree">
            <a class="btn btn1 btn-secondary btn-block my-4" href="{{ path('sessions_new') }}">Créer une Session</a>
        </div>
    </div>
    
</div>

{% endblock %}
