{% extends 'base.html.twig' %}

{% block title %}Sessions{% endblock %}

{% block body %}

    <div class="bgimg-5" id="#">
    <div class="caption align-middle">
        <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
        </div>
    </div>
        <div class="pres row">
            <div class="col-md-10 colonne-centree">
                <h1 class="text-center compte">Session</h1>
                <table class="table">
                <thead>
                    <tr class="tr">
                       
                        <th>Titre</th>
                        <th>Session</th>
                         <th>Debut</th>
                        <th>Fin</th>
                    </tr>
                    </thead>
            <tbody>
                <tr>
                    <td data-label="{{ session.titre }}" class="left">{{ session.titre }}</td>
                    <td data-label="{{ session.formation }}" class="left">{{ session.formation }}</td>
                    <td data-label="{{ session.dateDeb ? session.dateDeb|date('Y-m-d') : '' }}" class="left">{{ session.dateDeb ? session.dateDeb|date('Y-m-d') : '' }}</td>
                    <td data-label="{{ session.dateFin ? session.dateFin|date('Y-m-d') : '' }}" class="left">{{ session.dateFin ? session.dateFin|date('Y-m-d') : '' }}</td>
                    
                </tr>
        </tbody>
    </table>
     <div class="form-row">
                    <div class="form-group col-md-3">
                        <a class="btn btn1 btn-secondary btn-block my-4" href="{{ path('sessions_edit', {'id': session.id}) }}">Modifier</a>
                    </div>
                    <div class="form-group col-md-3">
                        <a class="btn btn2 btn-secondary btn-block my-4" href="{{ path('sessions_index', {'id': session.id}) }}">Annuler</a>
                    </div>
                    <div class="form-group col-md-3">
                        <a class="btn btn4 btn-warning btn-block my-4" href="#">Désactiver</a>
                    </div>
                    <div class="form-group col-md-3">
                        {{ include('sessions/_delete_form.html.twig') }}
                        
                </div>
            </div>  
        </div>
    </div>

{% endblock %}
