{% extends 'base.html.twig' %}

{% block title %}Salles index{% endblock %}

{% block body %}
<div class="bgimg-5" id="#">
    <div class="caption align-middle">
        <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
    </div>
</div>
<div class="pres row">
    <div class="col-md-4 colonne-centree">
        <h2 class="text-center c stitle">Liste des Salles</h2>
    
                <table class="table gtitle table-condensed">
                    <thead>
                        <tr class="tr">
               
                            <th>NumSalle</th>
                            <th>Etage</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for salle in salles %}
                        <tr>
                           
                            <td data-label="{{ salle.numSalle }}" class="left">{{ salle.numSalle }}</td>
                            <td data-label="{{ salle.etage }}" class="left">{{ salle.etage }}</td>
                            <td data-label="Action" class="left">
                                <a class="btn btn1 btn-secondary" href="{{ path('salles_show', {'id': salle.id}) }}">Afficher</a>
                                <a class="btn btn2 btn-primary" href="{{ path('salles_edit', {'id': salle.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>
                <div class="col-md-4 colonne-centree">
                    <a class="btn btn1  btn-block my-4" href="{{ path('salles_new') }}">Créer une Salle</a>
                </div>
            </div>
            
        </div>

{% endblock %}
