{% extends 'base.html.twig' %}

{% block title %}Salles{% endblock %}

{% block body %}
     <div class="bgimg-5" id="#">
    <div class="caption align-middle">
        <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
    </div>
    </div>
        <div class="pres row">
            <div class="col-md-10 colonne-centree">
                <h1 class="text-center compte">Salle</h1>
                <table class="table">
                <thead>
                    <tr class="tr">
                        <th>Etage</th>
                        <th>NumSalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="{{ salle.etage }}" class="left">{{ salle.etage }}</td>
                        <td data-label="{{ salle.numSalle }}" class="left">{{ salle.numSalle }}</td>
                    </tr>
                </tbody>
                </table>

                 <div class="form-row">
                    <div class="form-group col-md-4">
                        <a class="btn btn1 btn-secondary btn-block my-4" href="{{ path('salles_edit', {'id': salle.id}) }}">Modifier</a>
                    </div>
                    <div class="form-group col-md-4">
                        <a class="btn btn2 btn-primary btn-block my-4" href="{{ path('salles_index', {'id': salle.id}) }}">Annuler</a>
                    </div>
                   
                    <div class="form-group col-md-4">
                        {{ include('salles/_delete_form.html.twig') }}
                        
                </div>
            </div>  
        </div>
    </div>

{% endblock %}
