<form method="post" action="{{ path('agenda_delete', {'id': agenda.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agenda.id) }}">
    <button class="btn btn3 btn-warning">Delete</button>
</form>
