{% extends 'base.html.twig' %}

{% block title %}Agenda index{% endblock %}

{% block body %}
   <div class="bgimg-5" id="#">
    <div class="caption align-middle">
    <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
        </div>
        </div>
        <div class="pres row">
            <div class="col-md-3 colonne-centree">
                <h2 class="text-center c stitle">Liste des Agenda</h2>
            
                        <table class="table gtitle table-condensed">
                            <thead>
                                <tr class="tr">
                        
                                <th>NomAgenda</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for agenda in agendas %}
                            <tr>
                                <td data-label="{{ agenda.nomAgenda }}" class="left">{{ agenda.nomAgenda }}</td>
                                <td data-label="Actions" class="left">
                                    <a class="btn btn1 btn-secondary" href="{{ path('agenda_show', {'id': agenda.id}) }}">Afficher</a>
                                    <a class="btn btn2 btn-primary" href="{{ path('agenda_edit', {'id': agenda.id}) }}">Modifier</a>

                               </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="col-md-3 colonne-centree">
                    <a class="btn btn1  btn-block my-4" href="{{ path('agenda_new') }}">Create new</a>
                </div>
            </div>
        </div>

           
{% endblock %}
