{% extends 'base.html.twig' %}

{% block title %}New Agenda{% endblock %}

{% block body %}
    <h1>Create new Agenda</h1>

    {{ include('agenda/_form.html.twig') }}

     <script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>

{% endblock %}
