{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}
    <div class="bgimg-5" id="#">
    <div class="caption align-middle">
        <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
        </div>
    </div>
        <div class="pres row">
            <div class="col-md-10 colonne-centree">
                <h1 class="text-center compte">Agenda</h1>
                <table class="table">
                <thead>
                    <tr class="tr">
                        <th>NomAgenda</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="{{ agenda.nomAgenda }}" class="left">{{ agenda.nomAgenda }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="form-row">
                    <div class="form-group col-md-4">
                        <a class="btn btn1 btn-secondary btn-block my-4" href="{{ path('agenda_edit', {'id': agenda.id}) }}">Editer</a>
                    </div>
                    <div class="form-group col-md-4">
                        <a class="btn btn2 btn-primary btn-block my-4" href="{{ path('agenda_index', {'id': agenda.id}) }}">Annuler</a>
                    </div>
                    <div class="form-group col-md-4">
                        {{ include('agenda/_delete_form.html.twig') }}
                        
                </div>
            </div>  
        </div>
    </div>

           
{% endblock %}
