{% extends 'base.html.twig' %}

{% block title %}Module d'administration du Greta Compiègne{% endblock %}

{% block body %}
<div class="bgimg-5" id="#">
    <div class="caption align-middle">
        <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
    </div>
</div>

    <div class="container gtitle">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 stitle colonne-centree">
            
            </div>
            <div class="row d-flex flex-row">
            <div id="calendrier">     
            </div>
        </div>
    </div>
</div>

{% endblock %}