{% extends 'base.html.twig' %}

{% block title %}Edit Types Formation{% endblock %}

{% block body %}
    <h1>Edit Types Formation</h1>

    {{ include('types_formation/_form.html.twig') }}

{% endblock %}
