{% extends 'base.html.twig' %}

{% block title %}TypesFormation index{% endblock %}

{% block body %}
<div class="bgimg-5" id="#">
    <div class="caption align-middle">
    <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
    </div>
</div>
<div class="pres row">
    <div class="col-md-4 colonne-centree">
        <h2 class="text-center c stitle">Liste des Types de Formation</h2>
            <table class="table gtitle">
                <thead>
                    <tr class="tr">
                        <th>Type de Formation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for types_formation in types_formations %}
                    <tr>
                        <td  data-label="{{ types_formation.LibType }}" class="left">{{ types_formation.LibType }}</td>
                        <td>
                            <a class="btn btn1 btn-secondary" href="{{ path('types_formation_show', {'id': types_formation.id}) }}">Afficher</a>
                            <a class="btn btn2 btn-secondary" href="{{ path('types_formation_edit', {'id': types_formation.id}) }}">Modifier</a>  

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<div class="col-md-4 colonne-centree">
    <a class="btn btn1 btn-secondary btn-block my-4" href="{{ path('types_formation_new') }}">Créer un Type de Formation</a>
</div>

{% endblock %}
