{% extends 'base.html.twig' %}

{% block title %}New TypesFormation{% endblock %}

{% block body %}
    <h1>Create new Types Formation</h1>

    {{ include('types_formation/_form.html.twig') }}

   
{% endblock %}
