{% block body %}

	<div class="bgimg-5" id="#">
		<div class="caption align-middle">
		 	<div class="row">
				<p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
            </div>
			</div>
	</div>
	<div class="pres row">
		<div class="container c">
			<h1 class="text-center compte">Formation</h1>

            {{ form_start(form) }}
                
                <div class="form-row">
					<div class="form-group col-md-6">
						<label class="">Nom de Formation *</label>
						{{form_widget(form.NomForm)}}
					</div>
					<div class="form-group col-md-6">
					<label class="">Ref Intern *</label>
                    {{ form_widget(form.refInterne)}}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label class="">Type Formation *</label>
                    {{ form_widget(form.TypesFormation)}}
					</div>
					<div class="form-group col-md-6">
						<label class="">Domaine *</label>
                    {{form_widget(form.domaines)}}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label class="">Niveau Professionnel *</label>
                    {{ form_widget(form.niveauxProfessionnels)}}
					</div>
					<div class="form-group col-md-6">
						<label class="">Module </label>
						{{form_widget(form.module)}}
					</div>
				</div>

                <div class="form-row">
					<div class="form-group col-md-6">
						<label class="">Durée Centre </label>
                    {{ form_widget(form.dureeCentre)}}
					</div>
					<div class="form-group col-md-6">
					<label class="">Durée Entreprise </label>
                    {{form_widget(form.dureeEntreprise)}}
					</div>
				</div>

                <div class="form-row">
					<div class="form-group col-md-6">
						<label class="">Image </label>
                    {{ form_widget(form.imageFile)}}
					</div>
					<div class="form-group col-md-6">
						<label class="">Description</label>
                    {{form_widget(form.description)}}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label class="">Public </label>
                    {{ form_widget(form.public)}}
					</div>
					<div class="form-group col-md-6">
						<label class="">Prérequis</label>
                    {{form_widget(form.prerequis)}}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label class="">Nombre de participants </label>
                    {{ form_widget(form.nbParticipants)}}
					</div>
					<div class="form-group col-md-6">
						<label class="">Organisation pédagogique</label>
                    {{form_widget(form.orgPedag)}}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label class="">Méthodes pédagogiques </label>
                    {{ form_widget(form.methodePedag)}}
					</div>
					<div class="form-group col-md-6">
						<label class="">Moyens pédagogiques</label>
                    {{form_widget(form.moyenPedag)}}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label class="">Modalités de suivi</label>
                    {{ form_widget(form.modSuivi)}}
					</div>
					<div class="form-group col-md-6">
						<label class="">Modalités d'évaluation</label>
                    {{form_widget(form.modEval)}}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label class="">Validation</label>
                    {{ form_widget(form.validation)}}
					</div>
					<div class="form-group col-md-6">
						<label class="">Profil des intervenants</label>
                    {{form_widget(form.profilIntervenants)}}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label class="">Dates ou delai d'accès</label>
                    {{ form_widget(form.dateAcces)}}
					</div>
					<div class="form-group col-md-6">
						<label class="">Modalités d'accès</label>
                    {{form_widget(form.modAcces)}}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label class="">Lieu</label>
                    {{ form_widget(form.lieu)}}
					</div>
					<div class="form-group col-md-6">
						<label class="">Tarif</label>
                    {{form_widget(form.tarif)}}
					</div>
				</div>







                <div class="form-row">
                    <div class="form-group col-md-6">
                        <button class="btn btn1 btn-secondary btn-block my-4">Confirmer</button>
                    </div>
                    <div class="form-group col-md-6">
                        <a class="btn btn2 btn-primary btn-block my-4" type="submit" href="{{ path('formations_index')}}">Annuler</a>
                    </div>
                </div> 
            {{ form_end(form) }}
		</div>
	</div>

{% endblock body %}
           
