{% extends 'base.html.twig' %}

{% block title %}Edit Formations{% endblock %}

{% block body %}
    <h1>Edit Formations</h1>

    {{ include('formations/_form.html.twig', {'button_label': 'Update'}) }}

  
{% endblock %}
