{% extends 'base.html.twig' %}

{% block title %}Formations index{% endblock %}

{% block body %}
  <div class="bgimg-5" id="#">
    <div class="caption align-middle">
    <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
    </div>
    </div>
    <div class="pres row">
        <div class="col-md-10 colonne-centree">
            <h2 class="text-center c stitle">Liste des Formations</h2>
                <table class="table col-auto table-condensed table-striped  gtitle mydatatable">
                    <thead>
                        <tr class="tr">
                            <th>NomForm</th>
                            <th>Type Formation</th>
                            <th>Domaine</th>
                            <th>Actions</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                    {% for formation in formations %}
                        <tr>
                            <td data-label="{{ formation.NomForm }}" class="left">{{ formation.NomForm }}</td>
                            <td data-label="{{ formation.typesFormation }}" class="left">{{ formation.typesFormation }}</td>
                            <td data-label="{{ formation.domaines }}" class="left">{{ formation.domaines }}</td>
                            <td data-label="Action" class="left">
                                <a class="btn btn1 btn-secondary" href="{{ path('formations_show', {'id': formation.id}) }}">Afficher</a>
                                <a class="btn btn2 btn-primary" href="{{ path('formations_edit', {'id': formation.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">Aucun enregistrement trouvé</td>
                         </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-10 colonne-centree">
            <a class="btn btn1 btn-secondary btn-block my-4" href="{{ path('formations_new') }}">Créer une Formation</a>
        </div>
    </div>
</div>

{% endblock %}
