{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <div class="bgimg-5" id="#">
    <div class="caption align-middle">
        <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
    </div>
    </div>
        <div class="pres row">
            <div class="col-md-10 colonne-centree">
                <h1 class="text-center compte">Formation</h1>
                <table class="table">
                <thead>
                <tr class="tr">
                    <th>NomForm</th>
                    <th>RefInterne</th>
                    <th>Image</th>
                    <th>Domaine</th>
                    <th>Niveau</th>
                    <th>DureeCentre</th>
                    <th>DureeEntreprise</th>
                    <th>UpdatedAt</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="{{ formation.NomForm }}" class="left">{{ formation.NomForm }}</td>
                    <td data-label="{{ formation.refInterne }}" class="left">{{ formation.refInterne }}</td>
                    <td data-label="{{ formation.image }}" class="d-none d-md-block left"><img class="img-thumbnail" src="{{ asset(vich_uploader_asset(formation, 'imageFile')) }}" alt="{{ formation.image }}"></td>
                    <td data-label="{{ formation.domaines }}" class="left">{{ formation.domaines }}</td>
                    <td data-label="{{ formation.niveauxProfessionnels }}" class="left">{{ formation.niveauxProfessionnels }}</td>
                    <td data-label="{{ formation.dureeCentre }}" class="left">{{ formation.dureeCentre }}</td>
                    <td data-label="{{ formation.dureeEntreprise }}" class="left">{{ formation.dureeEntreprise }}</td>
                    <td data-label="{{ formation.updatedAt|date }}" class="left">{{ formation.updatedAt|date }}</td>
                </tr>
        </tbody>
    </table>
     <div class="form-row">
                    <div class="form-group col-md-3">
                        <a class="btn btn1 btn-secondary btn-block my-4" href="{{ path('formations_edit', {'id': formation.id}) }}">Modifier</a>
                    </div>
                    <div class="form-group col-md-3">
                        <a class="btn btn2 btn-primary btn-block my-4" href="{{ path('formations_index', {'id': formation.id}) }}">Annuler</a>
                    </div>
                    <div class="form-group col-md-3">
                        <a class="btn btn4 btn-warning btn-block my-4" href="#">Désactiver</a>
                    </div>
                    <div class="form-group col-md-3">
                        {{ include('formations/_delete_form.html.twig') }}
                        
                </div>
            </div>  
        </div>
    </div>

{% endblock %}
