<div class="bgimg-5" id="#">
		<div class="caption align-middle"></div>
		 	<div class="row">
				<p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
            </div>
            </div>
	</div>
	<div class="pres row">
		<div class="col-md-8 colonne-centree">
			<h1 class="text-center compte">Niveau Professionnel</h1>

            {{ form_start(form) }}

            <div class="form-row">
                <div class="col-md-8 colonne-centree">
                    {{form_widget(form)}}
                </div>
            </div>
            <div class="form-row colonne-centree">
                <div class="form-group col-md-4 offset-2">
                    <button class="btn btn1 btn-secondary btn-block my-4" type="submit">Confirmer</button>
                </div>
                <div class="form-group col-md-4">
                    <a class="btn btn2 btn-primary btn-block my-4" href="{{ path('types_formation_index')}}">Annuler</a>
                </div>
            </div>
        </div>
    </div>

    
{{ form_end(form) }}
