{% extends 'base.html.twig' %}

{% block title %}Edit NiveauxProfessionnels{% endblock %}

{% block body %}
    <h1>Edit NiveauxProfessionnels</h1>

    {{ include('niveaux_professionnels/_delete_form.html.twig') }}
    
{% endblock %}
