{% extends 'base.html.twig' %}

{% block title %}NiveauxProfessionnels index{% endblock %}

{% block body %}
   <div class="bgimg-5" id="#">
    <div class="caption align-middle">
    <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
    </div>
</div>
<div class="pres row">
    <div class="col-md-4 colonne-centree">
        <h2 class="text-center c stitle">Liste des Niveaux Professionnels</h2>
            <table class="table gtitle">
                <thead>
                    <tr class="tr">
                        <th>Niveau Professionnel</th>
                        <th>Actions</th>
                    </tr>
                </thead>
        <tbody>
        {% for niveaux_professionnel in niveaux_professionnels %}
            <tr>
                <td data-label="{{ niveaux_professionnel.libNiveau }}" class="left">{{ niveaux_professionnel.libNiveau }}</td>
                <td>
                    <a class="btn btn1 btn-secondary" href="{{ path('niveaux_professionnels_show', {'id': niveaux_professionnel.id}) }}">Afficher</a>  
                    <a class="btn btn1 btn-secondary" href="{{ path('niveaux_professionnels_edit', {'id': niveaux_professionnel.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    <div class="col-md-4 colonne-centree">
        <a class="btn btn1 btn-secondary btn-block my-4" href="{{ path('niveaux_professionnels_new') }}">Créer un Niveau Professionnel</a>
    </div>

{% endblock %}
