{% extends 'base.html.twig' %}

{% block title %}New NiveauxProfessionnels{% endblock %}

{% block body %}
    <h1>Create new NiveauxProfessionnels</h1>

    {{ include('niveaux_professionnels/_form.html.twig') }}

   
{% endblock %}
