{% extends 'base.html.twig' %}

{% block title %}NiveauxProfessionnels{% endblock %}

{% block body %}
    <div class="bgimg-5" id="#">
		<div class="caption align-middle">
		 	<div class="row">
				<p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
            </div>
        </div>
	</div>
	<div class="pres row">
        <div class="col-md-6 colonne-centree">
            <h1 class="text-center compte">Niveau de Formation</h1>

            <table class="table gtitle">
                <thead>
                    <tr class="tr">
                        <th>Niveau de Formation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr">
                        <td data-label="{{ niveaux_professionnel.id }}" class="left">{{ niveaux_professionnel.id }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <a class="btn btn1 btn-secondary btn-block my-4" href="{{ path('niveaux_professionnels_edit', {'id': niveaux_professionnel.id}) }}">Modifier</a>
                </div>
                <div class="form-group col-md-3">
                    <a class="btn btn2 btn-primary btn-block my-4" href="{{ path('niveaux_professionnels_index') }}">Annuler</a>
                </div>
                <div class="form-group col-md-3">
                        <a class="btn btn4 btn-warning btn-block my-4" href="#">Désactiver</a>
                    </div>
                <div class="form-group col-md-3">
                {{ include('niveaux_professionnels/_delete_form.html.twig') }}
                    
                </div>
            </div>  
        </div>
    </div>

{% endblock %}

                

    