<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styleform.css">
        <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="/css/style.css">
        

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top overflow-y: scroll;">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="navbar-brand" href="{{ path('home') }}"><img src="\images\logo_greta_oise.png" alt="logo du site"></a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                     
                     <li class="nav-item">
                        <a class="nav-link user" href="{{path('user_show', {'id': app.user.id}) }}"><i class="fas fa-user fa-1x"> Bonjour {{ app.user.prenom }}</i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('users_new')}}">Creer compte Utilisateur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('users_index')}}">Utilisateurs</a>
                    </li>
                        

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Formations</a>
                            <div class="dropdown-menu py-0" aria-labelledby="navbarDropdown">
                                <h5 class="dropdown-header bgdropdown text-dark">Gérer les Domaines</h5>
                                <a class="dropdown-item mb-2" href="{{ path('domaines_index') }}">Liste des Domaines </a>
                                <a class="dropdown-item" href="{{ path('domaines_new') }}">Créer une Domaine</a>

                                <h5 class="dropdown-header bgdropdown text-dark">Gérer les Types de Formations</h5>
                                <a class="dropdown-item mb-2" href="{{ path('types_formation_index') }}">Liste des Types de Formations</a>
                                <a class="dropdown-item" href="{{ path('types_formation_new') }}">Créer un Types de Formations</a>

                                <h5 class="dropdown-header bgdropdown text-dark">Gérer les Niveaux de Formations</h5>
                                <a class="dropdown-item mb-2" href="{{ path('niveaux_professionnels_index') }}">Liste des Niveaux de Formations</a>
                                <a class="dropdown-item" href="{{ path('niveaux_professionnels_new') }}">Créer un Niveaux de Formations</a>
                                
                                <h5 class="dropdown-header bgdropdown text-dark">Gérer les Formations</h5>
                                <a class="dropdown-item" href="{{ path('formations_index') }}">Liste des Formations</a>
                                <a class="dropdown-item" href="{{ path('formations_new') }}">Créer une Formation</a>
                                
                                <h5 class="dropdown-header bgdropdown text-dark">Gérer les Sessions</h5>
                                <a class="dropdown-item" href="{{ path('sessions_index') }}">Liste des Sessions</a>
                                <a class="dropdown-item" href="{{ path('sessions_new') }}">Créer une Session</a>
                                
                            </div>
                        </li>
                         
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cours</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <h5 class="dropdown-header bgdropdown text-dark">Gérer les Cours</h5>
                                <a class="dropdown-item mb-2" href="{{ path('cours_index') }}">Liste des Cours</a>
                                <a class="dropdown-item" href="{{ path('cours_new') }}">Créer un Cours</a>
                                <h5 class="dropdown-header bgdropdown text-dark">Gérer les Agendas</h5>
                                <a class="dropdown-item mb-2" href="{{ path('agenda_index') }}">Liste des Agendas</a>
                                <a class="dropdown-item" href="{{ path('agenda_new') }}">Créer un Agenda</a>
                                <h5 class="dropdown-header bgdropdown text-dark">Gérer les Salles</h5>
                                <a class="dropdown-item mb-2" href="{{ path('salles_index') }}">Liste des Salles</a>
                                <a class="dropdown-item" href="{{ path('salles_new') }}">Créer une Salle</a>
                               
                            </div>
                        </li>
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Absences</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <h5 class="dropdown-header bgdropdown text-dark">Gérer les Absences</h5>
                                <a class="dropdown-item" href="#">Liste des Absences</a>
                            </div>
                        </li>

                        {% elseif is_granted('ROLE_CANDIDAT') %}
                        <li class="nav-item">
                         <a class="nav-link user" href="{{path('user_show', {'id': app.user.id}) }}"><i class="fas fa-user fa-1x"> Bonjour {{ app.user.prenom }}</i></a>
                        </li>
                        {% elseif is_granted('ROLE_FORMATEUR') %}
                        <li class="nav-item">
                         <a class="nav-link user" href="{{path('user_show', {'id': app.user.id}) }}"><i class="fas fa-user fa-1x"> Bonjour {{ app.user.prenom }}</i></a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('cours_index') }}">Liste des Cours</a>
                        </li>
                        {% elseif is_granted('ROLE_EMPLOYE') %}
                        <li class="nav-item">
                         <a class="nav-link user" href="{{path('user_show', {'id': app.user.id}) }}"><i class="fas fa-user fa-1x"> Bonjour {{ app.user.prenom }}</i></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{path('users_index')}}">Utilisateurs</a>
                    </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">Absences</a>
                        </li>
                    {% endif %}
                    {% if not app.user %}
                   
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login')}}">Se connecter</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                    
                    {% endif %}
                    <li class="nav-item">
                        <a class="icones nav-link facebook" href="https://www.facebook.com/greta60/"><i class="icon fab fa-facebook fa-1x"></i></a>
                        <a class="icones nav-link facebook" href="https://www.instagram.com/Greta_Oise60/"><i class="icon fab fa-instagram fa-1x"></i></a>
                        <a class="icones nav-link facebook" href="https://twitter.com/greta_oise"><i class="icon fab fa-twitter fa-1x"></i></a>
                        
                    </li>
                    <li class="nav-item">
                    <a class="navbar-brand" href="#"><img src="\images\eduform.png" alt="logo du site"></a>
                    </li>

                </ul>
            </div>
        </nav>


        {% block body %}
        
        
        {% endblock %}

        {% block javascripts %}{% endblock %}
        <footer>
        <div class="row gtitle">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p class="centres text-center">NOS CENTRES DE FORMATION SUR L'OISE</p>
                <div class="row">
                    <div class="col-12 col-md-4 foot">
                        <p class="agence">Agence de BEAUVAIS</p>
                        <p class="footerT">3 Avenue du Montaigne</p>
                        <p class="footerT">60000 Beauvais</p>
                        <p class="footerT">Lundi au jeudi 8h30-12h30 / 13h30-17h</p>
                        <p class="footerT">Vendredi 8h30-12h30 / 13h30-16h</p>
                        <a class="text-footer" href="tel:+33344121290"><i class="fas fa-mobile-alt text-footer"></i>03 44 12 14 90</a><br>
                        <a class="text-footer" href="mailto:beauvais.greta@ac-amiens.fr"><i class="fas fa-at text-footer"></i>beauvais.greta@ac-amiens.fr</a>
                    </div>
                    <div class="col-12 col-md-4 foot">
                        <p class="agence">Agence de COMPIEGNE</p>
                        <p class="footerT">40 rue Amédée Bouquerel</p>
                        <p class="footerT">60200 Compiègne</p>
                        <p class="footerT">Lundi au Vendredi 8h30-12h00 / 13h30-17h</p>
                        <a class="text-footer" href="tel:+33344869006"><i class="fas fa-mobile-alt text-footer"></i>03 44 86 90 06</a><br />
                        <a class="text-footer" href="mailto:compiegne.greta@ac-amiens.fr"><i class="fas fa-at text-text-footer"></i>compiegne.greta@ac-amiens.fr</a>
                    </div>
                    <div class="col-12 col-md-4 foot">
                        <p class="agence">Agence de NOGENT SUR OISE</p>
                        <p class="footerT">47 Boulevard Pierre de Coubertin</p>
                        <p class="footerT">60180 Nogent-sur-Oise</p>
                        <p class="footerT">Lundi – Vendredi 8h30 – 12h30 / 13h30 – 17h00</p>
                        <a class="text-footer" href="tel:+33344743144"><i class="fas fa-mobile-alt text-footer"></i>03 44 74 31 44</a><br />
                        <a class="text-footer" href="mailto:greta.oise@ac-amiens.fr"><i class="fas fa-at text-text-footer"></i>greta.oise@ac-amiens.fr</a>
                    </div>
                </div>
            </div>
        </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
        <script>
        //search
$('.mydatatable').DataTable();
var table = $('.mydatatable').DataTable();

     $('.mydatatable thead th').each( function() {
         var title = $(this).text();
         $(this).html( '<input type="text" placeholder="Search '+title+'" />');
     });

     table.columns().every( function() {
         var that = this;
         $('input', this.header() ).on( 'keyup change', function() {
             if( that.search() !== this.value ) {
                 that.search( this.value ).draw();
             }
         });
     });
        </script>

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="/js/jquery-1.9.1.min.js"></script>
        <script src="/js/monjs.js"></script>
        <script src="https://kit.fontawesome.com/dd2402d937.js" crossorigin="anonymous"></script>
        <script>AOS.init();</script>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js" integrity="sha256-oenhI3DRqaPoTMAVBBzQUjOKPEdbdFFtTCNIosGwro0=" crossorigin="anonymous"></script>
 
    </body>
</html>
