{% extends 'base.html.twig' %}

{% block title %}Agenda index{% endblock %}

{% block body %}
<div class="bgimg-5" id="#">
     <div class="caption align-middle">
        <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
     </div>
</div>

{{ form(form) }}
{% endblock %}
