{% extends 'base.html.twig' %}

{% block body %}

<div class="bgimg-5" id="#">
    <div class="caption align-middle">
        <div class="wrapper">
            <button type = "button" class="example-1" value = "Retour"  onclick = "history.go(-1)">back</button>
        </div>
    </div>
</div>
<div class="pres row">
  <div class="container c">
    <h1 class="text-center stitle">{{ domaines.LibDomaine }}</h1>
    <div class="row gtitle">
      <div class="col-md-6 border-transparent aos-init" data-aos="fade-right" data-aos-offset="10" data-aos-duration="2000">
        <div class="card-body">
            <div class="overlay-image"><img class="image" src="{{app.request.basepath}}/uploads/images/featured/{{domaines.image}}" alt="Image de présentation" /></div>
        </div>
      </div>
        <div class="col-md-6 prof border-transparent aos-init" data-aos="fade-left" data-aos-offset="10" data-aos-duration="2000">
          <div class="card-body">
            <div class="mb-5">
                <h4 class="mb-2">FORMATIONS DIPLÔMANTES</h4>
                 
                    {% for formation in domaines.formations %}
                        {% if formation.typesFormation == "Formation diplômante" %}
                         
                            <p><a class="h6" href="{{ path('formationdetails', {'id': formation.id}) }}">{{ formation.niveauxProfessionnels }}</a></p>
                            <p><a class="h6" href="{{ path('formationdetails', {'id': formation.id}) }}">{{ formation.NomForm }}</a></p>
                                  
                      
                         {% endif %} 
                    {% endfor %}
                
            </div>
            <div>
                <h4 class="mb-2 stitle">FORMATIONS QUALIFIANTES</h4>
                
                {% for formation in domaines.formations %}
                    {% if formation.typesFormation == "Formation qualifiante" %}
                        <p><a class="h6" href="{{ path('formationdetails', {'id': formation.id}) }}">{{ formation.module }}</a></p>
                        <p><a class="h6" href="{{ path('formationdetails', {'id': formation.id}) }}">{{ formation.NomForm }}</a></p>
                        

                    {% endif %}
                {% endfor %}
               
            </div>
           </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}