{% extends 'base.html.twig' %}

{% block body %}

<div class="bgimg-5" id="#">
    <div class="caption align-middle">

    </div>
</div>

<div class="pres">
  <div class="container c">
    <div class="row gtitle">
      <div class="col-md-5 border-transparent aos-init" data-aos="fade-right" data-aos-offset="10" data-aos-duration="2000">
        <div class="card-body">
            <div class="session1">
                <p class="sess1">PUBLIC</p>
                <p class="sess2">Tout public<hr/></p>
                <p class="sess1">Prerequis</p>
                <p class="sess2">Niveau classe de 1ère scientifique, technique ou équivalent.
                Niveau BEP en électrotechnique avec 2 années d’expérience professionnelle dans les métiers de l’électronique et/ou des réseaux <hr/></p>
                <p class="sess1">Nombre de participants</p>
                <p class="sess2">Groupe de 8 à 12 personnes<hr/></p>
                <p class="sess1">Organisation pédagogiques</p>
                <p class="sess2">Face à face pédagogique en centre de formation, individualisation, période de stage en entreprise.<hr/></p>
                <p class="sess1" class="sess1">Méthodes pédagogiques</p>
                <p class="sess2">Alternance entre les rapports théoriques et la mise en pratique en atelier, périodes de formation en entreprise<hr/></p>
                <p class="sess1">Moyens pédagogiques</p>
                <p class="sess2">Atelier spécialisé, matériel professionnel individuel et collectif
                    Salle de cours équipée avec vidéo projection<hr/></p>
                <p class="sess1">Modalités de suivi, d'accompagnement et d'appreciation de la progression</p>
                <p class="sess2">Bilan intermédiaire- grille de progression pédagogique<hr/></p>
                <p class="sess1">Modalités d'évaluation</p>
                <p class="sess2">Evaluation en cours de formation
                  Dossier professionnel Mise en situation et entretien devant jury<hr/></p>
                <p class="sess1">Validation</p>
                <p class="sess2">Titre professionnel du ministère chargé de l’emploi de niveau 4, validation partielle par bloc possible<hr/></p>
                <p class="sess1">Profil des intervenants</p>
                <p class="sess2">Enseignants de l’Education Nationale de la spécialité et formateurs professionnels<hr/></p>
                <p class="sess1">Durée</p>
                <p class="sess2">910 heures en centre et 210 heures en entreprise<hr/></p>
                <p class="sess1">Dates ou delai d'accès</p>
                <p class="sess2">31/08/2020 au 21/05/2021<hr/></p>
                <p class="sess1">Modalités d'accès</p>
                <p class="sess2">Information collective Positionnement écrit et oral<hr/></p>
                <p class="sess1">Lieu</p>
                <p class="sess2">Lycée Lavoisier de Méru Etablissement référencé Objectif Fibre<hr/></p>
                <p class="sess1">€ Tarif</p>
                <p class="sess2">15 €/heure<hr/></p>

            </div>
            <div>
            </div>
           </div>
      </div>


        <div class="col-md-7 prof border-transparent aos-init" data-aos="fade-left" data-aos-offset="10" data-aos-duration="2000">
          <div class="card-body">
          <div class="session1">
            <p class="sess1">Technicien de Réseaux de Télécommunications</br> (cuivre et fibre optique)</p>
          </div>
            <p class="sess3">Objectifs<hr/></p>
            <p class="sess4">A l’issue de la formation, le stagiaire sera en capacité de :</p>
            <p>- Organiser, réaliser et contrôler les travaux de construction, de modification,
            d’extension et de maintenance sur les réseaux de télécommunication mettent en œuvre deux technologies distinctes : réseaux à technologie cuivre (réseau de nature électrique) et réseaux optiques (lumière dans les fibres optiques).</p>
            <p class="sess3">Programme<hr/></p>
            <p class="sess4">BLOC DE COMPETENCES 1 : </br>Accueil – Réaliser et encadrer les travaux de production des réseaux de télécommunications cuivre</p>
            <p>- Encadrer les travaux de production des réseaux de télécommunications.</p>
            <p>- Réaliser et encadrer les travaux d’installation des réseaux de télécommunications cuivre.</p>
            <p>- Réaliser et encadrer les travaux de raccordement des câbles et des dispositifs d’extrémité cuivre.</p>
            <p>- Réaliser les mesures et le dossier de recettage des réseaux de télécommunications cuivre.</p>
            <p>- Réaliser et encadrer les travaux de branchement des réseaux de télécommunications cuivre.</p>
            <p>- Respecter les règles de sécurité en vigueur sur les chantiers de télécommunications</p>
            <p class="sess4">BLOC DE COMPETENCES 2 : </br>Réaliser et encadrer les travaux de production des réseaux de télécommunications optiques.</h6>
            <p>- Encadrer les travaux de production des réseaux de télécommunications.</p>
            <p>- Réaliser et encadrer les travaux d’installation des réseaux de télécommunications optiques.</p>
            <p>- Réaliser et encadrer les travaux de raccordement des câbles et des dispositifs d’extrémité optiques.</p>
            <p>- Réaliser les mesures et le dossier de recettage des réseaux de télécommunications optiques.</p>
            <p>- Réaliser et encadrer les travaux de branchement des réseaux de télécommunications optiques</p>
            <p>- Respecter les règles de sécurité en vigueur sur les chantiers de télécommunications</p>
            <p class="sess4">BLOC DE COMPETENCES 3 : </br>Réaliser les travaux de maintenance des réseaux de télécommunications cuivre</p>
            <p> Réaliser les travaux de maintenance préventive des réseaux cuivre. Réaliser les travaux de maintenance corrective des réseaux cuivre</p>
            <p class="sess4">BLOC DE COMPETENCES 4 :</br> Réaliser les travaux de maintenance des réseaux de télécommunications optiques</p>
            <p>- Réaliser les travaux de maintenance préventive sur des réseaux optiques</p>
            <p>- Réaliser les travaux de maintenance corrective sur des réseaux optiques</p>
            <p>- Modules transversaux</p>
            <p>- Habilitation électrique B1V</p>
            <p>- CACES nacelle</p>
            <p>- Sauveteur Secouriste du Travail</p>
            <p>- Prévention des risques liés à l’activité physique</p>
            <p>- Prévention des risques liés à l’amiante</p>
            <p>- Autorisation d’intervention à proximité des réseaux (AIPR)</p>
            <p>- Communication écrite et orale</p>

            <div class="form-row">
                <div class="form-group col-md-6">
                {% if is_granted('ROLE_CANDIDAT') %}

                <a class="btn btn1" href="{{ path('formsess', {'id': formation.id}) }}">Candidater</a>
                    {% else %}
                    <a class="btn btn1" href="{{ path('user_new') }}">Ca m'interesse</a>
                    {% endif %}
                </div>
            </div>


        </div>
    </div>
  </div>
</div>

{% endblock %}
