{% extends 'base.html.twig' %}


{% block title %}Hello page Home{% endblock %}

{% block body %}

<div class="bgimg-1" id="#">
    <div class="caption align-middle">
        <div class="row">
         <p class="greta col-12 offset-md-1 col-md-10 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"LE SPÉCIALISTE DE LA FORMATION CONTINUE DANS COMPIEGNE".</p>
        </div>
    </div>
</div>
<div class="pres row">
    <div class="col-12 col-md-9 colonne-centree">
        <h2 class="text-center c stitle">NOS FORMATIONS</h2>
		<h5 class="stitle">Nous vous proposons, que vous soyez demandeur d’emploi, salarié ou jeune adulte sans formation, des enseignements de qualité vous permettant de trouver le métier de vos rêves ou de changer de voie à tout moment de votre vie.
		Nos conseillers en formation continue, ainsi que notre équipe pédagogique et administrative, vous accompagnent dans la professionnalisation tout au long de votre vie et de votre carrière.</h5>	
    </div>
    <div class="container">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 colonne-centree">
                <div class="row gtitle">
                    {% for domaine in domaines %}
                    <div class="col-md-12 col-sm-6  col-lg-3 mb-3">
                        <div class="overlay-image">
                            <img class="image rounded" src="{{app.request.basepath}}/uploads/images/featured/{{domaine.image}}" alt="numerique"/>
                            <div class="normal">
                                <h2 class="text">{{ domaine.LibDomaine }}</h2>
                            </div>
                            <div class="hover">
                                <div class="text">
                                    <a class="textHover" href="{{ path('formations', {'id': domaine.id}) }}">{{ domaine.LibDomaine }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
	
</div>
<div class="bgimg-2 gtitle">
    <div class="caption">
        <div class="row">
            <div class="programme col-12 offset-md-2 col-md-8 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">
                <p class="">Votre métier ne vous convient plus ?<br> Vous avez envie de développer votre passion à un niveau professionnel ? <br>Vous souhaitiez obtenir un diplôme, mettre à jour vos compétences, monter en grade,<br> vous réorienter ou tout simplement vous spécialiser.<br>Nous disposons de tous les programmes indispensables <br>pour vous épanouir et pour accéder au métier qui vous a toujours séduit.</p>
            </div>
        </div>
    </div>
</div>

<div class="pres row">
    <div class="col-12 col-md-9 colonne-centree">
        <h2 class="text-center c stitle">NOTRE EQUIPE</h2>
        <h5 class="stitle"> Notre équipe de Compiègne vous soutiennent et vous accompagnent également dans vos Validations d’Acquis de l’Expérience – VAE, ainsi que dans les bilans de compétences vous permettant de réorienter votre carrière professionnelle selon vos qualités et vos aspirations.</h5>
    </div>
    <div class="container">
        <div class="col-md-10 colonne-centree">
            <div class="row stitle">
            {% for user in users %}
                {% for role in user.roles %}
                    {% if role == "ROLE_ADMIN" %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 stitle">
                        <div class="overlay-image">
                            <img class="image rounded" src="{{app.request.basepath}}/uploads/images/featured/{{user.image}}" alt="numerique"/>
                            <div class="hover">
                                <h2 class="text">{{ user.nomUsage }}</h2>
                            </div>
                        </div>
                    </div>
                    {% elseif role == "ROLE_FORMATEUR" %}
            
                    <div class="ccol-md-12 col-sm-6 col-md-4 col-lg-3 mb-3 stitleb stitle">
                        <div class="overlay-image">
                            <!--<img class="image" src="/images/profile.jpeg" alt="imgProfile" />-->
                             <img class="image" src="{{app.request.basepath}}/uploads/images/featured/{{user.image}}" alt="numerique"/>
                            <div class="hover">
                                <h2 class="text">{{ user.nomUsage }}</h2>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                 {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
    <div class="hautPage"><a href="#" class="text-secondary"><i class="fas fa-angle-up fa-2x"></i></a></div>        
<div class="bgimg-3 gtitle">
    <div class="caption">
        <div class="row">
            <div class="programme col-12 offset-md-2 col-md-8 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">
                <p class="">Depuis plus de dix ans, nous intervenons dans nos agences, offrant à tous les demandeurs de formation professionnelle ou continue un large choix de sujets et de thématiques, et une aide quotidienne pour la mise en place de leur changement de carrière.
                <br>Des remises à niveau sont également accessibles via la formation professionnelle afin de vous donner la possibilité d’évoluer et de vous offrir de meilleures opportunités de carrière.</p>
            </div>
        </div>
    </div>
</div>

<div class="press row" >
    <div class="offset-md-2 col-md-8  stitle">
        <div class="overlay-image">
            <img class="image" src="/images/gretaCarte.png" alt="Greta" />
            
        </div>
    </div>
</div>



<div class="hautPage"><a href="#" class="text-secondary"><i class="fas fa-angle-up fa-2x"></i></a></div>
{% endblock %}
