{% block body %}

	<div class="bgimg-5" id="#">
		<div class="caption align-middle">
		 	<div class="row">
			 {% if is_granted('ROLE_ADMIN') %}
				<p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
            {% endif %}
			</div>
		</div>
	</div>
	<div class="pres">
		<div class="container c">
			<h1 class="text-center compte">Création de  compte utilisateur</h1>
			{{ form_start(form) }}
			
				<div class="form-row">
					<div class="col-md-6 padleft15">
					
						{{form_row(form.civilite)}}
					</div>
					<div class="col-md-6 padleft15">
					{% if is_granted('ROLE_ADMIN') %}
						<label class="">Role: </label>
					{% endif %}
					<label class=""></label>
						{{form_widget(form.roles)}}
					</div>
				</div>
				
				

				<div class="form-row">
					<div class="form-group col-md-6">
				
						{{form_row(form.nomUsage, {'attr': {'placeholder': "ex: Dupont"}}) }}
					</div>
					<div class="form-group col-md-6">
					
						{{ form_row(form.prenom, {'attr':{'placeholder': "ex: Dupont"}}) }}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						
						{{ form_row(form.dateNaiss)}}
						
					</div>
					<div class="form-group col-md-6">
					
						{{form_row(form.imageFile)}}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						
						{{ form_row(form.portable, {'attr':{'placeholder': "ex: 0744562135"}}) }}
					</div>
					<div class="form-group col-md-6">
						
						{{ form_row(form.fixe, {'attr':{'placeholder': "ex: 0344562135"}}) }}
					</div>
				</div>

				

				<div class="form-row">
					<div class="form-group col-md-6">
						
						{{form_row(form.mail, {'attr':{'placeholder': "ex: Toto@gmail.fr"}}) }}
					</div>
					<div class="form-group col-md-6">
					
						{{form_row(form.plainPassword)}}
					</div>
				</div>
				
					{{form_widget(form.agreeTerms)}}
					

				<div class="form-row">
					<div class="form-group col-md-6">
						<button class="btn btn1 btn-secondary btn-block my-4" type="submit">Confirmer</button>
					</div>
					{% if is_granted('ROLE_ADMIN') %}
					<div class="form-group col-md-6">
						<a class="btn btn2 btn-primary btn-block my-4" href="{{ path('users_index')}}">Annuler</a>
					</div>
					{% else %}
					<div class="form-group col-md-6">
						<a class="btn btn2 btn-primary btn-block my-4" href="{{ path('home')}}">Annuler</a>
					</div>
					{% endif %}
				</div>  

				{{ form_end(form) }}


			</div>
		</div>

	{% endblock body %}

