{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
<div class="bgimg-5" id="#">
    <div class="caption align-middle">
        <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
        </div>
</div>
<div class="pres row">
    <div class="col-md-8 colonne-centree">
        <h2 class="text-center c stitle">Liste des Utilisateurs</h2>
   
                <table class="table col-auto table-condensed table-striped  gtitle mydatatable">
                    <thead class="">
                        <tr class="tr">
                            <th>NomUsage</th>
                            <th>Prenom</th>
                            <th>Mail</th>
                            <th>Roles</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                
                        <tr>
                        {% for role in user.roles %}
                           
                            {% if is_granted ("ROLE_ADMIN") %}
                                {% if role == "ROLE_ADMIN" %}
                                    <td data-label="{{ user.nomUsage }}" class="left">{{ user.nomUsage | capitalize }}</td>
                                    <td data-label="{{ user.prenom }}" class="left">{{ user.prenom | capitalize }}</td>
                                    <td data-label="{{ user.mail }}" class="left">{{ user.mail }}</td>
                                    
                                    <td data-label="{{ role }}" class="left">{{ role }}</td>
                                    <td data-label="Action" class="left">
                                        <a class="dropdown-item mb-2" href="{{ path('users_index', {'role': role == 'ROLE_CANDIDAT'}) }}"></a>
                                        <a class="btn btn1 btn-secondary" href="{{ path('users_show', {'id': user.id}) }}">Afficher</a>
                                        <a class="btn btn2 btn-primary" href="{{ path('users_edit', {'id': user.id}) }}">Modifier</a>
                             
                                {% elseif role == "ROLE_FORMATEUR" %}
                                    <td data-label="{{ user.nomUsage }}" class="left">{{ user.nomUsage | capitalize }}</td>
                                    <td data-label="{{ user.prenom }}" class="left">{{ user.prenom | capitalize }}</td>
                                    <td data-label="{{ user.mail }}" class="left">{{ user.mail }}</td>
                                    <td data-label="{{ role }}" class="left">{{ role }}</td>
                                    <td data-label="Action" class="left">
                                        <a class="dropdown-item mb-2" href="{{ path('users_index', {'role': role == 'ROLE_FORMATEUR'}) }}"></a>
                                        <a class="btn btn1 btn-secondary" href="{{ path('users_show', {'id': user.id}) }}">Afficher</a>
                                        <a class="btn btn2 btn-primary" href="{{ path('users_edit', {'id': user.id}) }}">Modifier</a>
                            
                                {% elseif role == "ROLE_EMPLOYE" %}
                                    <td data-label="{{ user.nomUsage }}" class="left">{{ user.nomUsage | capitalize }}</td>
                                    <td data-label="{{ user.prenom }}" class="left">{{ user.prenom | capitalize }}</td>
                                    <td data-label="{{ user.mail }}" class="left">{{ user.mail }}</td>
                                    <td data-label="{{ role }}" class="left">{{ role }}</td>
                                    <td data-label="Action" class="left">
                                        <a class="dropdown-item mb-2" href="{{ path('users_index', {'role': role == 'ROLE_FORMATEUR'}) }}"></a>
                                        <a class="btn btn1 btn-secondary" href="{{ path('users_show', {'id': user.id}) }}">Afficher</a>
                                        <a class="btn btn2 btn-primary" href="{{ path('users_edit', {'id': user.id}) }}">Modifier</a>

                                {% elseif role == "ROLE_CANDIDAT" %}
                                    <td data-label="{{ user.nomUsage }}" class="left">{{ user.nomUsage | capitalize }}</td>
                                    <td data-label="{{ user.prenom }}" class="left">{{ user.prenom | capitalize }}</td>
                                    <td data-label="{{ user.mail }}" class="left">{{ user.mail }}</td>
                                    <td data-label="{{ role }}" class="left">{{ role }}</td>
                                    <td data-label="Action" class="left">
                                        <a class="dropdown-item mb-2" href="{{ path('users_index', {'role': role == 'ROLE_EMPLOYE'}) }}"></a>
                                        <a class="btn btn1 btn-secondary" href="{{ path('users_show', {'id': user.id}) }}">Afficher</a>
                                        <a class="btn btn2 btn-primary" href="{{ path('users_edit', {'id': user.id}) }}">Modifier</a>                               
                            {% endif %}

                                {% elseif  is_granted ("ROLE_EMPLOYE")  %}
                                    {% if role == "ROLE_CANDIDAT" %}
                                    <td data-label="{{ user.nomUsage }}" class="left">{{ user.nomUsage | capitalize }}</td>
                                    <td data-label="{{ user.prenom }}" class="left">{{ user.prenom | capitalize }}</td>
                                    <td data-label="{{ user.mail }}" class="left">{{ user.mail }}</td>
                                    <td data-label="{{ role }}" class="left">{{ role }}</td>
                                    <td data-label="Action" class="left">
                                        <a class="dropdown-item mb-2" href="{{ path('users_index', {'role': role == 'ROLE_EMPLOYE'}) }}"></a>
                                        <a class="btn btn1 btn-secondary" href="{{ path('users_show', {'id': user.id}) }}">Afficher</a>
                                        <a class="btn btn2 btn-primary" href="{{ path('users_edit', {'id': user.id}) }}">Modifier</a>
                                {% endif %}       
                            {% endif %}
                        {% endfor %}
                            </td>  
                        </tr>
                                
                            {% else %}
                            <tr>
                                <td colspan="14">Aucun enregistrement trouvé</td>
                            </tr>
                        
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
		 
        <div class="col-md-8 colonne-centree">
            <a class="btn btn1 btn-secondary btn-block my-4" href="{{ path('users_new') }}">Créer un Utilisateur</a>
        </div>
   
{% endblock %}


					