{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    
    {{ include('users/_form.html.twig') }}

    <script>
        $(document).ready(function () { // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({format: 'yyyy-mm-dd'});
        });
    </script>

{% endblock %}
