{% extends 'base.html.twig' %}

{% block title %}Candidats{% endblock %}

{% block body %}
     <div class="bgimg-5" id="#">
		<div class="caption align-middle"></div>
		 	<div class="row">
				<p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
            </div>
	</div>
	<div class="pres row">
        <div class="col-md-10 colonne-centree">
            <h2 class="text-center compte">User</h2>

            <table class="table gtitle">
            <thead>
                <tr class="tr">
                    <th>Slug</th>
                    <th>Civilite</th>
                    <th>NomUsage</th>
                    <th>Prenom</th>
                    <th>DateNaiss</th>
                    <th>Fixe</th>
                    <th>Portable</th>
                    <th>Mail</th>
                    <th>Image</th>
                    <th>UpdateAt</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="{{ user.slug }}" class="left">{{ user.slug }}</td>
                    <td data-label="{{ user.civilite }}" class="left">{{ user.civilite }}</td>
                    <td data-label="{{ user.nomUsage }}" class="left">{{ user.nomUsage | capitalize}}</td>
                    <td data-label="{{ user.prenom }}" class="left">{{ user.prenom | capitalize}}</td>
                    <td data-label="{{ user.dateNaiss ? user.dateNaiss|date('Y-m-d') : '' }}" class="left">{{ user.dateNaiss ? user.dateNaiss|date('Y-m-d') : '' }}</td>
                    <td data-label="{{ user.fixe }}" class="left">{{ user.fixe }}</td>
                    <td data-label="{{ user.portable }}" class="left">{{ user.portable }}</td>
                    <td data-label="{{ user.mail }}" class="left">{{ user.mail }}</td>
                    <td data-label="{{ user.image }}" class="d-none d-md-block left"><img class="img-thumbnail" src="{{ asset(vich_uploader_asset(user, 'imageFile')) }}" alt="{{ user.image }}"></td>
                    <td data-label="{{ user.updateAt ? user.updateAt|date('Y-m-d') : '' }}" class="left">{{ user.updateAt ? user.updateAt|date('Y-m-d') : '' }}</td>
                </tr>
            </tbody>
            </table>

            <div class="form-row">
                    <div class="form-group col-md-3">
                        <a class="btn btn1 btn-secondary btn-block my-4" href="{{ path('users_edit', {'id': user.id}) }}">Modifier</a>
                    </div>
                    <div class="form-group col-md-3">
                        <a class="btn btn2 btn-primary btn-block my-4" href="{{ path('users_index', {'id': user.id}) }}">Annuler</a>
                    </div>
                    <div class="form-group col-md-3">
                        <a class="btn btn4 btn-warning btn-block my-4" href="#">Désactiver</a>
                    </div>
                    <div class="form-group col-md-3">
                        {{ include('users/_delete_form.html.twig') }}
                        
                </div>
            </div>  
        </div>
    </div>

{% endblock %}
