{% block body %}

	<div class="bgimg-5" id="#">
		<div class="caption align-middle">
		 	<div class="row">
				<p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
            </div>
        </div>
	</div>
        <div class="pres">
            <div class="container c">
                <h1 class="text-center compte">Cours</h1>

                    {{ form_start(form) }}

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="">Agenda *</label>
                            {{ form_widget(form.agenda)}}
                        </div>
                       <div class="form-group col-md-6">
                            <label class="">Salles *</label>
                        {{ form_widget(form.salles) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="">Start *</label>
                            {{ form_widget(form.start) }}
                        </div>
                        <div class="form-group col-md-6">
                            <label class="">End *</label>
                        {{ form_widget(form.end) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="">User</label>
                        {{ form_widget(form.user) }}
                        </div>
                        <div class="form-group col-md-6">
                            <label class="">Color</label>
                        {{ form_widget(form.border_color) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="">background_color</label>
                            {{ form_widget(form.background_color) }}
                        </div>
                        <div class="form-group col-md-6">
                            <label class="">text_color</label>
                        {{ form_widget(form.text_color) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="">Info</label>
                            {{ form_widget(form.info) }}
                        </div>
                        <div class="form-group col-md-6">
                            <label class="">All day</label>
                        {{ form_widget(form.all_day) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button class="btn btn1 btn-secondary btn-block my-4">Confirmer</button>
                        </div>
                        <div class="form-group col-md-6">
                            <a class="btn btn2 btn-primary btn-block my-4" type="submit" href="{{ path('cours_index')}}">Annuler</a>
                        </div>
                    </div> 
                
                {{ form_end(form) }}

            </div>
        </div>
        
{% endblock body %}