{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
   <div class="bgimg-5" id="#">
    <div class="caption align-middle">
    <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
        </div>
    </div>
    <div class="pres row">
        <div class="col-md-10 colonne-centree">
            <h2 class="text-center c stitle">Liste des Cours</h2>
                <table class="table gtitle table-condensed">
                    <thead>
                        <tr class="tr">
               
                        <th>Start</th>
                        <th>End</th>
                        <th>Info</th>
                        <th>All_day</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for cour in cours %}
                    <tr>
                    
                        <td data-label="{{ cour.start ? cour.start|date('Y-m-d H:i:s') : '' }}" class="left">{{ cour.start ? cour.start|date('Y-m-d H:i:s') : '' }}</td>
                        <td data-label="{{ cour.end ? cour.end|date('Y-m-d H:i:s') : '' }}" class="left">{{ cour.end ? cour.end|date('Y-m-d H:i:s') : '' }}</td>
                        
                        <td data-label="{{ cour.info }}" class="left">{{ cour.info }}</td>
                        <td data-label="{{ cour.allDay ? 'Yes' : 'No' }}" class="left">{{ cour.allDay ? 'Yes' : 'No' }}</td>
                        <td data-label="Actions" class="left">
                            <a class="btn btn1 btn-secondary" href="{{ path('cours_show', {'id': cour.id}) }}">Afficher</a>
                            <a class="btn btn2 btn-primary" href="{{ path('cours_edit', {'id': cour.id}) }}">Modifier</a>
                            <a class="btn btn3 btn-warning" href="{{ path('cours_delete', {'id': cour.id}) }}">Supprimer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="col-md-10 colonne-centree">
            <a class="btn btn1 btn-secondary btn-block my-4" href="{{ path('cours_new') }}">Créer un Cours</a>
        </div>

{% endblock %}
