{% extends 'base.html.twig' %}

{% block title %}New Cours{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    
            <h1>Create new Cours</h1>

            {{ include('cours/_form.html.twig') }}

    <script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
    </script>

{% endblock %}
