{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <div class="bgimg-5" id="#">
    <div class="caption align-middle">
        <div class="row">
            <p class="admin offset-3 col-md-6 aos-init" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="2000">"ADMINISTRATION GRETA COMPIEGNE".</p>
        </div>
        </div>
    </div>
        <div class="pres row">
            <div class="col-md-10 colonne-centree">
                <h1 class="text-center compte">Formation</h1>
                <table class="table">
                <thead>
                    <tr class="tr">
                        <th>Start</th>
                        <th>End</th>
                        <th>Background_color</th>
                        <th>Text_color</th>
                        <th>Border_color</th>
                        <th>Info</th>
                        <th>All_day</th>
                    </tr>
                </thead>
                <tbody>    
                    <tr> 
                        <td data-label="{{ cour.start ? cour.start|date('Y-m-d H:i:s') : '' }}" class="left">{{ cour.start ? cour.start|date('Y-m-d H:i:s') : '' }}</td>
                        <td data-label="{{ cour.start ? cour.start|date('Y-m-d H:i:s') : '' }}" class="left">{{ cour.start ? cour.start|date('Y-m-d H:i:s') : '' }}</td>
                        <td data-label="{{ cour.end ? cour.end|date('Y-m-d H:i:s') : '' }}" class="left">{{ cour.end ? cour.end|date('Y-m-d H:i:s') : '' }}</td>
                        <td data-label="{{ cour.backgroundColor }}" class="left">{{ cour.backgroundColor }}</td>
                        <td data-label="{{ cour.textColor }}" class="left">{{ cour.textColor }}</td>
                        <td data-label="{{ cour.borderColor }}" class="left">{{ cour.borderColor }}</td>
                        <td data-label="{{ cour.info }}" class="left">{{ cour.info }}</td>
                        <td data-label="{{ cour.allDay ? 'Yes' : 'No' }}" class="left">{{ cour.allDay ? 'Yes' : 'No' }}</td>
                    </tr>
                </tbody>
            </table>
             <div class="form-row">
                    <div class="form-group col-md-4">
                        <a class="btn btn1 btn-secondary btn-block my-4" href="{{ path('cours_edit', {'id': cour.id}) }}">Editer</a>
                    </div>
                    <div class="form-group col-md-4">
                        <a class="btn btn2 btn-primary btn-block my-4" href="{{ path('cours_index', {'id': cour.id}) }}">Annuler</a>
                    </div>
                    <div class="form-group col-md-4">
                        {{ include('cours/_delete_form.html.twig') }}
                        
                </div>
            </div>  
        </div>
    </div>

{% endblock %}
